h1, h2, h3, h4 {
	font-family: helvetica;
	margin:0;
	padding:0;
	text-align:center;
}
body{
	background-color:lighten(red, 20%);
	color:white;
}

//pop that mixin breh, instant 1000 mediaqueries. holla!.
h1 {
	@include header(150px, 0.15, 960px, 1);
}
h2 {
	@include header(150px, 0.15, 960px, 100);
}
h3 {
	@include header(150px, 0.15, 960px, 200);
}
h4 {
	@include header(150px, 0.15, 960px, 300);
}
