
@mixin header($baseSize, $compression: 0.10, $breakpoint : 960px, $rate : 100) {

	//i just like current breakpoint better as a name while looping
	$currentBreakpoint: $breakpoint;

	//same for font size
	$currentFontSize: $baseSize;

	//weird compression math to adjust for the rate, 
	//add 1 so we can pass in 0.15 rather than 1.15
	$compression : ( $compression / 100 * $rate) + 1;
	
	//no media query size
	font-size 	: $baseSize;
	
	//loop through media queries until you hit 320
	@while $currentBreakpoint > 320 {


		@media ( max-width: #{$currentBreakpoint} ) {
			
			//calculate size from last iteration
			$currentFontSize: $currentFontSize / ( $compression );
			
			//set for current breakpoint
			font-size: $currentFontSize;
		}

		//decrement by the rate set
		$currentBreakpoint : $currentBreakpoint - $rate;
	}
}


//pop that mixin breh, instant 1000 mediaqueries. holla at ya boi.
h1 {
	@include header(150px, 0.15, 960px, 1);
}
h2 {
	@include header(150px, 0.15, 960px, 100);
}
h3 {
	@include header(150px, 0.15, 960px, 200);
}
h4 {
	@include header(150px, 0.15, 960px, 300);
}

